In [1]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [2]:
full_labels = pd.read_csv('snack.csv')

In [3]:
full_labels.head()

    filename  width  height  class  xmin  ymin  xmax  ymax
0   aaa0.jpg    576     768   lays   234   211   497   513
1   aaa0.jpg    576     768  pocky    10   379   195   513
2   aaa1.jpg    576     768   lays   303   339   442   499
3   aaa1.jpg    576     768  pocky   187   435   283   543
4  aaa10.jpg   1024     768   lays   403   243   730   574

In [17]:
grouped = full_labels.groupby('class')

In [18]:
grouped.apply(lambda x: len(x)).value_counts()

287    1
674    1
611    1
dtype: int64

In [19]:
grouped

### split each file into a group in a list

In [20]:
gb = full_labels.groupby('class')

In [21]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [22]:
len(grouped_list)

3

In [10]:
train_index = np.random.choice(len(grouped_list), size=160, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [11]:
len(train_index), len(test_index)

NameError: name 'train_index' is not defined

In [11]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [12]:
len(train), len(test)

(173, 44)

In [13]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)